@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootflat/2.0.4/css/bootflat.min.css');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p');

body {
  background-color: #eff3f6;
  font-family: 'M PLUS 1p', sans-serif;;
}

.navbar {
  margin: 2rem 0 2.5rem 0;
}

.my-navbar {
  align-items: center;
  background: #b8b2d6;
  display: flex;
  height: 6rem;
  justify-content: space-between;
  padding: 0 2%;
  margin-bottom: 3rem;
}

.my-navbar-brand {
  font-size: 18px;
}

.my-navbar-brand,
.my-navbar-item {
    color: #ffffff;
}
.my-navbar-brand:hover,
a.my-navbar-item:hover {
  color: #ffffff;
}


.table td:nth-child(2),
.table td:nth-child(3),
.table td:nth-child(4) {
  white-space: nowrap;
  width: 1px;
}

.form-control[disabled],
.form-control[readonly] {
  background-color: #fff;
}

.panel > .panel-heading {
    background-image: none;
    background-color: #b8b2d6;
    color: #ffffff;
}

a.list-group-item:hover {
    background-color: #e8e6f3;
}
a.list-group-item.active,
a.list-group-item.active:hover {
    background-color:#EFEFEF;
    border: 0;
    color: #000000;
}

span.color { 
    color: #ffffff;
    float: right;
}